#registro{
    /* background-color: #A54A16; */
    margin-top: 10vh;
    border-radius: 25px;
}

button{
    color: white;
    background-color: #ee691e;;
    border: 2px solid #ee691e;
  }
  button:hover{
    background-color:#A54A16;
    color: white;
    border: 2px solid white;
    
  }